
body{
background-color: white;
padding: 10px;
}

header{
    background-color: beige;
    padding: 10px;
}

/* login */
#login{
    float: right;
    margin-top: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h1{
    font-size: large;
    display: inline;
}

h3{
    font-size: medium;
    text-align: center;
}

p{
    font-size: small;
    color: white;
}

main{
    background-color: beige;
    padding: 10px;
}

aside{
    background-color: beige;
    padding: 10px;
}

footer{
    background-color: red;
    padding: 10px;

}



nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    border: 2px;
    background-color: red;
    list-style-type: none;
    border: 2px solid;
    border-color: white;
    width: 15%;
    padding: auto;
    float: left;
}

nav li a{
    color: beige;
    text-align: center;
    text-decoration: none;
}

Nav li:hover{
    background-color:black;
}

.active{
    background-color: darkred;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    font-size: 10px;
}

table td, table th{
    border: 2px solid beige;
    width: 150px;
}

Table tr:nth-child(even){
    background-color: beige;

}

Table tr{
    height: 50px;
    padding: 10%;
}

Table tr:hover{
    background-color: white;
}

Table th{
    background-color: red;
    color: beige;
    text-align: center;
    height: 50px;
}

#Icon{
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 10px;
}

img{
    width: 200px;
    height: 150px;
}

title{
    display: inline;
}

/* text box form */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* submit button */
input[type=submit]{
    background-color: red;
    color: beige;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* on hover make button darker */
input[type=submit]:hover{
    background-color: darkred;
}

.container{
    border-radius: 5px;
    background-color: beige;
    padding: 20px;
}

/* email text box */
input[type=email]{
    width: 25%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date]{
    width: 25%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* name text box */
input[type=name]{
    width: 25%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=emailMain]{
    float: right;
    margin: 2px;
}

/* password text box */
input[type=password]{
    float: right;
    margin: 2px;
}




#right-col{
    float: right; width: 35%; background-color: beige;
}

#left-col{
    float: left; width: 60%; background-color: beige;
}

#cmain{
    height: 500px;
}

.gallery-img{
    width: 100%;
}

#img-gllery{
    padding-top: 10px;
}

#img-gallery .row{
    margin-bottom: 10px;
}

.membership{
    text-align: center;
}

.d-block{
    height: 100%;
    width: 100%;
}

.col-sm{
    height: 100%;
    width: 100%;
}

.main_news{
    float: left;
    padding: 15px;
}

.event{
    color: black;
}